body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
}

h1 {
    text-align: center;
    letter-spacing: 2.5px;
    margin: 20px 0;
}