.nav-container {
    background-color: #384B70;
}

nav .logo {
    font-size: 20px;
    color: #FCFAEE;
}

nav .cart {
    font-size: 24px;
    color: #FCFAEE;
}

nav a:hover,
.cart:hover {
    cursor: pointer;
}

.badge-bg-color {
    background-color: #507687;
}