.nav-container {
    background-color: #12162a;
}

nav .logo,
.cart {
    font-size: 30px;
    color: white;
}

nav a:hover,
.cart:hover {
    cursor: pointer;
    color: #ffc107 !important;
}