.orders-product-title {
    color: #384B70;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.trash-icon {
    color: #B8001F;
}

.trash-icon:hover {
    cursor: pointer;
}

.edit {
    border-radius: 62px;
    width: max-content;
}

.minus:hover,
.plus:hover {
    cursor: pointer;
}

.quantity-greater-than-two {
    color: rgb(197, 192, 192) !important;
    cursor: default !important;
}

.cart-product-bottom {
    bottom: 0;
    right: 7px;
    width: max-content;
}

@media (max-width: 768px) {
    .cart-product-image {
        width: 40%;
    }
}