#flex-container {
    width: 90%;
    margin-left: 5%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    margin-bottom: 2rem;
}

#flex-item {
    width: 22%;

    text-align: center;
    box-shadow: 0 0 3px 0 #252B48;
    border-radius: 10px;
    padding: 1.5rem;

    position: relative;
}

#product-head>img {
    width: 11rem;
    height: 7rem;
    border-radius: 10px;
    box-shadow: 0 3px 0 #9d174d;
    margin-bottom: 1.5rem;
}

#product-head>img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#product-head>h2 {
    font-size: 1.1rem;
}

#product-info {
    margin-top: 3.5rem;
}

#product-info>h2 {
    position: absolute;
    left: 30px;
    bottom: 1px;
    font-size: 1.8rem;
}

#product-info>h2>#dolar-span {
    color: #9d174d;
    font-size: 1.8rem;
}

/* yeşil sepet */
#product-info>#shopping-cart {
    position: absolute;
    right: 30px;
    bottom: 9px;
    font-size: 2.2rem;
    color: #005b41;
}

#product-info>#shopping-cart:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 1250px) {
    #flex-item {
        width: 30%;
    }
}

@media (max-width: 992px) {
    #flex-item {
        width: 40%;
    }
}

@media (max-width: 650px) {
    #flex-item {
        width: 80%;
    }
}

@media (max-width: 450px) {
    #flex-item {
        width: 90%;
    }
}