.product img {
    cursor: pointer;
}

.product img:hover {
    transform: scale(1.1);
    transition: 0.3s linear;
}

.product .title {
    height: 2.5rem;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product .price {
    color: #384B70;
}

.product .shopping-cart {
    color: #384B70;
}

.product .shopping-cart:hover {
    cursor: pointer;
}