#shopping-cart-heading {
    margin-top: 6rem;
}

#single-cart-container {
    display: flex;

    /* to center the div */
    width: 60%;
    margin-left: 20%;

    box-shadow: 0 0 2px 0 #252B48;
    border-radius: 10px;
    margin-bottom: 0.7rem;
    padding: 0.8rem;

    position: relative;
}

#single-cart-container>img {
    width: 9rem;
    height: 6rem;
    border-radius: 10px;
    box-shadow: 0 3px 0 #9d174d;
    margin-bottom: 3rem;
}

#single-cart-container>img:hover {
    cursor: pointer;
}

#single-cart-container>#details {
    margin: 2.5rem;
    font-size: 1rem;
}

#single-cart-container>#details>#brand {
    margin-right: 1.3rem;
}

#single-cart-container>#edit {
    position: absolute;
    left: 1.2rem;
    bottom: 1.3rem;
}

#single-cart-container>#edit>* {
    border: 1px solid #dcd9d9;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 1.6rem;
    width: 2.5rem;
    padding: 0.7rem;

    color: #9d174d;
    font-weight: bold;
}

#single-cart-container>#edit>#minus,
#plus {
    background-color: #faf9f9;
}

#single-cart-container>#edit>#minus,
#plus:hover {
    cursor: pointer;
}

#single-cart-container>#edit>#quantity {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#single-cart-container>#price {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    font-size: 2.1rem;
}

#single-cart-container>#price>#dolar-span {
    color: #9d174d;
}

#single-cart-container>#price>#trash-icon {
    color: #9d174d;

    margin-left: 0.8rem;
    font-size: 1.9rem;

    position: absolute;
    bottom: 0.4rem;
}

#single-cart-container>#price>#trash-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#total-price-div {
    width: 90%;
    margin-left: 5%;

    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

#total-price-div>span {
    font-size: 2.1rem;
}

#total-price-div>#left {
    margin-right: 0.7rem;
}

#total-price-div>#dolar {
    color: #9d174d;
}

@media (max-width: 1270px) {

    #single-cart-container {
        width: 70%;
        margin-left: 15%;
    }

    #single-cart-container>#details {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {

    #single-cart-container {
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 780px) {

    #single-cart-container {
        flex-direction: column;
        align-items: center;
    }

    #single-cart-container>img {
        width: 10rem;
        height: 6.5rem;
        margin-bottom: 0;
    }

    #details>span {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
    }

    #details>#title {
        margin-bottom: 2rem;
    }

    #single-cart-container>#edit>* {
        height: 2.5rem;
    }
}

@media (max-width: 520px) {

    #single-cart-container>#price {
        font-size: 1.5rem;
    }

    #single-cart-container>#price>#trash-icon {
        font-size: 1.4rem;
        bottom: 0.3rem;
    }

    #details>span {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    #single-cart-container>#edit {
        bottom: 1.2rem;
    }

    #single-cart-container>#edit>* {
        height: 1.8rem;
    }

    #total-price-div>span {
        font-size: 1.6rem;
    }

    #total-price-div>#left {
        margin-right: 0.1rem;
    }
}

@media (max-width: 400px) {
    #single-cart-container>#price {
        bottom: 0.2rem;
    }

    #single-cart-container>#edit {
        width: 100%;
        left: 0;
        bottom: 1.9rem;
        margin-bottom: 1.4rem;

        text-align: center;
    }
}