#zero-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;

    text-align: center;
    padding: 0 2rem;
}

#zero-product-container>h4 {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

#zero-product-container>#sad-icon {
    font-size: 2rem;
    color: #9d174d;
}

@media (max-width: 420px) {

    #zero-product-container>h4 {
        font-size: 1.2rem;
    }

    #zero-product-container>#sad-icon {
        font-size: 1.5rem;
    }
}